<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1068506863905-fejcch40ut7pbe8nttdbqgnebh1f6g8k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1068506863905-fejcch40ut7pbe8nttdbqgnebh1f6g8k</string>
	<key>API_KEY</key>
	<string>AIzaSyD5TG6-ELIKmnQC7ZlnVfORnS-VP-Z9uL4</string>
	<key>GCM_SENDER_ID</key>
	<string>1068506863905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>omar.chat-fire</string>
	<key>PROJECT_ID</key>
	<string>chatx-aaab7</string>
	<key>STORAGE_BUCKET</key>
	<string>chatx-aaab7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068506863905:ios:ee00f31075344b12e2c660</string>
	<key>DATABASE_URL</key>
	<string>https://chatx-aaab7.firebaseio.com</string>
</dict>
</plist>